site_name: Min-Dokumentasjon 

site_url: https://github.com/HerrTverdal/HerrTverdal 

 

theme: 

  name: material 

 

  palette: 

    - scheme: default 

      toggle: 

        icon: material/brightness-7 

        name: Switch to dark mode 

    - scheme: slate 

      toggle: 

        icon: material/brightness-4 

        name: Switch to light mode 

 

  features: 

    - navigation.tabs 

    - navigation.top 

    - search.suggest 

    - content.code.copy 
